.card {
    height: 650px;
    background-color: rgba(126, 123, 215, 0.2);
}

.main {
    background-color: #ffffff;
    margin: 7em auto;
    border-radius: 0.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    top: 140px;
    width: 269px;
    height: 310px;
}

.backgorund-image {
    background-image: url("src/assets/Image.png");
    display: block;
    overflow-x: hidden;
    background-repeat: no-repeat;
    height: 100%;
    
}

.logo-image {
    background-repeat: no-repeat;
    width: 83px;
    height: 75px;
    display: block;
    margin: auto;
    opacity: 1;
    background-image: url("src/assets/logo.png");
}

#set-password {
    padding: 1px 1px 1px 1px;
    width: 210px;
}

.link-info {
    font-size: 12px;
}
.font-page {
    font: Regular Roboto;
    font-size: 14px;
}
.btn-primary {
    border-radius: 22px;
    height: 24px;
    width: 189px;
    font-size: 10px;
    font-weight: bold;
}
.rectangle-text {
    border-radius: 22px;
    height: 24px;
    width: 189px;
    overflow-y: hidden;
}
.forgot-font {
    color: #127FBA;
    font-size: 10px;
}
.matForm {
    width: 100%;
}
.matForm--label {
    font-size: 14px;
    color: #a0a0a0;
    font-family: Lato;
}
.email {
    width: 22px;
    height: 11px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("src\assets\Icon material-mail.svg");
}
.lock {
    width: 22px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("src\assets\lock.svg");
}
::ng-deep
    .mat-form-field
    > .mat-form-field-wrapper
    > .mat-form-field-flex
    > .mat-form-field-infix
    > .mat-input-element {
    border: 1px solid #cccccc;
    border-radius: 10rem;
    line-height: 1.5rem;
}
::ng-deep.mat-form-field.mat-focused .mat-form-field-label,
    input.ng-valid + span.mat-form-field-label-wrapper .mat-form-field-label {
    display: none !important;
}