<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header ">
            <div class="navbar-header">
                <a class="navbar-brand logo"></a>
            </div>
        </div>
        <ul class="nav navbar-nav">
            <div class="dropdownIcon" (click)="openDropdown()"></div>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-md-12">
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <ul>
                        <li><span routerLink="/dashboard/changePassword">Change Password</span></li>
                        <li id="logout"><span routerLink="/login" (click)="logout()">Logout</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 ml-5"></div>
    <div class="col-lg-4">
        <div class="card">
            <div class="col-12 mt-3 ml-4 change-font">Change Password</div>
            <form [formGroup]='regForm' class="form-group-form" (ngSubmit)="uploadForm(regForm)" ngNativeValidate>
                <div class="col-12">
                    <div class="form-group">
                        <label><b>Old Password</b></label>
                        <input type="password" id="forgetEmail" formControlName="oldPassword" class="form-control" maxlength="40" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <label><b>New Password</b></label>
                        <input type="password" formControlName="password" class="form-control" maxlength="40" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label><b>Confirm Password</b></label>
                        <input type="password" formControlName="cnfPassword" class="form-control" maxlength="40" required>
                    </div>
                </div>
                <div class="btn-toolbar ml-3 mt-3">
                    <div class="btn-group mr-3">
                        <input type="submit" class="btn btn-primary" value="SUBMIT" />
                    </div>
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-default border-primary" id="cancel-btn"
                            onclick="window.history.back();">CANCEL</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>